    {% load static %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127061374-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127061374-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimal-ui">

    <!-- Other meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{% static 'rewyndapp/images/Rewynd-192.png' %}">

    <!-- Manifest.json for PWA -->
    <link rel="manifest" type="application/json" href="{% static 'rewyndapp/manifest.json' %}">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'rewyndapp/images/favicon.png' %}">
